@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

/* Дополнительные стили — по желанию */
body {
    font-family: 'Inter', sans-serif;
}

.nav-pills .nav-link {
    border-radius: 10px;
    font-weight: 500;
    color: #333;
}
.nav-pills .nav-link.active {
    background-color: #007bff;
    color: #fff;
}
